@import "all/all";

$min_desktop_width: 1024px;
$min_tablet_width: 768px;
$max_mobile_portrait_width: 480px;
$max_mobile_landscape_width: 640px;

$primary: #007ab8;
$primary-darker: #006394;
$bg-color: #ffffff;
$icon-hover-color: #00a9ff;
$border-color: #5d5b5a;

@mixin respond_large {
    @media screen and (min-width: $min_desktop_width) { @content }
}

@mixin respond_medium {
    @media screen and (min-device-width: $min_tablet_width) and (max-device-width: $min_desktop_width) { @content }
}

@mixin respond_small_portrait {
    @media screen and (max-device-width: $max_mobile_portrait_width) and (orientation: portrait)  { @content }
}

@mixin respond_small_landscape {
    @media screen and (max-device-width: $max_mobile_landscape_width) and (orientation: landscape) { @content }
}

@mixin respond_small {
    @media screen and (max-device-width: $max_mobile_landscape_width) { @content }
}

@mixin link-hover{
    :link {
        color: black;
        text-decoration: none;
    }
    :hover {
        color: $primary_darker;
        text-decoration: none;
    }
    :visited {
        color: black;
        text-decoration: none;
    }
    :active {
        color: black;
        text-decoration: none;
    }
    :hover:visited{
        color: $primary_darker;
        text-decoration: none;
    }
}

@mixin title ($font-size){
    .title{
        grid-area: title;
        font-size: $font-size;
        font-weight: bold;
        padding: 0.15em 0.5em;
        justify-self: center;
        @content;
    
        @include link-hover();
    }
}

@mixin subscriber-badge(){
    .subscriber_only_badge{
        grid-area: badge;
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
        background: $primary;
        color: white;
        padding: 5px 5px;
        margin-left: 0.65em;    
        max-width: 150px;
        max-height: 25px;
        text-align: center;

        @content;
    }
}


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.venus_header {
    display:  inline-grid;

    font-size: 20px;
    width: 100%;
    color: black;
    background: $bg-color;
    text-align: center;
    border-bottom: darkgrey solid 0.5px;

    grid-template-columns: 1fr 5fr 0fr 0fr 1fr;
    grid-template-rows: 64px;

    @include respond_large(){
        grid-template-rows: 192px;
        font-size: medium;
    }
}

.venus_logo{
    align-self: center;
    justify-self: center;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.icon{
    justify-self: center;
    align-self: center;
    max-width: 16px;
    max-height: 16px;
}

#venus_button_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
    place-items: center;
    
    a#subscribe_button.venus_button{
        border-radius: 0.25em;
        background-color: $primary;
        padding: 1em 1em;
        place-self: stretch;
        text-decoration: none;
        color: #ffffff;

        &:hover{
            background-color: $icon-hover-color;
            text-decoration: underline;
        }
    }
}

#icon_buttons{
    grid-template-columns: 7fr 1fr 1fr;
    
    i{
        display: flex; 
        align-content: center;
        align-items: center;
        justify-content: center;
        font-size: 1.25em;
        border-radius: 50%;
        height: 2em;
        width: 2em;
        color: #ffffff;
        background-color: $primary;
    }

    i:hover{
        background-color: $icon-hover-color;
        color: #ffffff;
    }
}

.no_border_top{
    border-top: none !important;
}

.venus_content{
    padding: 0.5em;

    .breaking_news{
        background-color: #ffc518;
        display: grid;
        padding: 0.25em;
        grid-template-columns: auto 28px;
        grid-template-rows: auto;
        grid-template-areas: 
            "header cross"
            "news cross"
        ;

        h1{
            grid-area: header;
            font-size: 1em;
        }

        a{
            grid-area: news;
            font-size: 0.8em;
            color: black;
            text-decoration: none;

            &:link:hover:visited:active {
                color: black;
                text-decoration: none;
            }
        }

        i{
            grid-area: cross;
            place-self: center center;

        }
    }

    .main_article{
        display: grid;
        padding-top: 1em;
        color: #38322a;
        grid-template-areas: 
            "title"
            "img"
            "text"
            "related"
        ;

        @include title(1.5em);

        img{
            grid-area: img;
            width: 100%;
            height: 300px;
        }

        .description{
            grid-area: text;
            font-size: 1em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            text-align: center;
        }

        .related_section{
            grid-area: related;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 1em;
            padding: 0.5em 0em;
            border-bottom: $border-color solid 0.5px;

            &::before {
                content: attr(title);
                
                display: block;
                color: #5d5b5a;
                font-weight: 600;
                font-size: small;
                padding: 4px;
                text-align: left;
                border-bottom: #5d5b5a solid 1px;
            }

            .related_article{
                display: list-item;
                padding: 0.5em;
                list-style: circle;
                list-style-position: inside;
                
                div{
                    display: inline-table;

                    a{
                        color: black;
                        text-decoration: none;
                        font-weight: bold;
                        text-align: left;
                        font-size: 12.5px;

                        @include link-hover();
                    }
    
                    time{
                        text-align: right;
                        color: #5d5b5a;
                        font-weight: normal;
                        font-size: 11.5px;
                    }
                }
            }
        }
    }

    .relevant_preview{
        list-style: none;

        li{
            border-bottom: $border-color solid 0.5px;

            article{
                display: grid;
                height: 100px;
                padding: 1em 0em;
                grid-template-rows: 25px 1fr;
                grid-template-columns: 1fr 3fr;
                grid-auto-flow: column;
                
                .img_preview{
                    grid-area: 1 / 1 / 3 / 2;
                    background-size: cover;
                    background-position: center;
                    max-width: 350px;
                    max-height: 250px;
                    width: 150px;
                    height: 100px;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }

                @include subscriber-badge(){
                    grid-area: 1 / 2 / 2 / 3;
                }

                @include title(1.1em){
                    justify-self: left;
                    grid-area: 1 / 2 / 3 / 3;
                };

                .subscriber_only_badge+.title{
                    grid-area: 2 / 2 / 3 / 3;
                }
    
            }
        }
    }
}

footer {
    padding: 1em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) inset;
    background: #f5f5f5;
    text-align: center;
    
    ul.site_sections{
        width: 100%;
        display: grid;
        grid-template-rows: repeat(7, 0.75fr);
        list-style: none;
        grid-gap: 1em;
        padding: 0;

        li{
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: black;
            font-weight: bold;
            border-top: black solid 2px;
            padding: 0.5em;

            a{
                color: black;
                text-decoration: none;
                justify-self: left;
                align-self: center;

                &:link {
                    color: black;
                    text-decoration: none;
                }
                  
                &:visited {
                    color: black;
                    text-decoration: none;
                }
                  
                &:hover {
                    color: black;
                    background-color: transparent;
                    text-decoration: underline;
                }
                  
                &:active {
                    color: black;
                    background-color: transparent;
                    text-decoration: underline;
                }
            }

            i{
                justify-self: right;
                align-self: center;
            }
        }
    }

    ul.venus_legal{
        width: 100%;
        display: grid;
        grid-template-rows: repeat(8, 28px);
        list-style: none;
        grid-gap: 1em;
        padding: 0;
        border-top: #d3d3d3 solid 1px;

        li{
            display: grid;
            grid-template-columns: 1fr;
            color: #5d5b5a;
            padding: 0.5em;

            a{
                color: #5d5b5a;
                text-decoration: none;
                justify-self: left;
                align-self: center;

                &:link { 
                    text-decoration: none;
                }
                  
                &:visited {
                    text-decoration: none;
                }
                  
                &:hover {
                    background-color: transparent;
                }
                  
                &:active {
                    background-color: transparent;
                }
            }

            p{
                justify-self: center;
                align-self: center;
                font-weight: bold;
            }
        }
    }
}