@import "all/all";

$min_desktop_width: 1125px;
$min_tablet_width: 768px;
$max_mobile_portrait_width: 480px;
$max_mobile_landscape_width: 640px;

$primary: #007ab8;
$primary-darker: #006394;
$section-title: #5d5b5a;
$not-relevant: rgb(56, 50, 42);
$bg-color: #ffffff;
$cute-bg: rgb(241, 239, 235);
$icon-hover-color: #00a9ff;
$border-color: rgb(215, 214, 210);

@mixin respond_large {
    @media screen and (min-width: $min_desktop_width) { @content }
};

@mixin respond_medium {
    @media screen and (min-device-width: $min_tablet_width) and (max-device-width: $min_desktop_width) { @content }
};

@mixin respond_small_portrait {
    @media screen and (max-device-width: $max_mobile_portrait_width) and (orientation: portrait)  { @content }
};

@mixin respond_small_landscape {
    @media screen and (max-device-width: $max_mobile_landscape_width) and (orientation: landscape) { @content }
};

@mixin respond_small {
    @media screen and (max-device-width: $max_mobile_landscape_width) { @content }
};

@mixin link-hover{
    :link {
        color: black;
        text-decoration: none;
    }
    :hover {
        color: $primary_darker;
        text-decoration: none;
    }
    :visited {
        color: black;
        text-decoration: none;
    }
    :active {
        color: black;
        text-decoration: none;
    }
    :hover:visited{
        color: $primary_darker;
        text-decoration: none;
    }
};

@mixin title ($font-size){
    grid-area: title;
    font-size: $font-size;
    font-weight: bold;
    padding: 0.15em 0.5em;
    justify-self: center;
    @content;

    @include link-hover();
    
};

@mixin subscriber-badge(){
    .subscriber_only_badge{
        grid-area: badge;
        display: inline-block;
        padding: 0.25em 0.5em;    
        
        @content;
        
        .badge{
            background: $primary;
            font-size: 13px;
            font-weight: bold;
            color: white;
            padding: 5px 2px;
            max-width: 130px;
            max-height: 25px;
            text-align: center;
        }
    }
};


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.venus_header{
    display: grid;
    position: fixed;
    top: 0;

    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    
    font-size: 16px;
    width: 100%;
    color: black;
    background: $bg-color;
    text-align: center;
    border-bottom: darkgrey solid 0.5px;
    grid-template-rows: 64px;

    @include respond_large(){
        grid-template-rows: 144px 48px;
        font-size: medium;
    }
    
    .always_on_header{
        display: grid;
        padding: 0px 20px;
        grid-template-columns: 0.2fr 0.3fr 1fr 0.4fr 0.1fr;
        
        .nav_link{
            display: block;
            place-self: center;
    
            div{
                display: grid;
                grid-template-columns: 1fr 9fr;
                grid-template-rows: 20px;
    
                @include respond_large(){
                    grid-template-rows: 1fr;
                }
    
                span{
                    display: none;
    
                    @include respond_large(){
                        display: block;
                        font-weight: bold;
                        
                        padding: 0.5em 0.5em;
                        color: black;
                    }
                }
            }
    
        }
    
        .venus_logo{
            max-height: 64px;
    
            @include respond_large(){
                max-height: 100%;
            }
        }
    
        .venus_meteo{
            display: block;
            place-self: center;
            font-weight: bold;
            font-size: 1em;
    
            div{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
    
                @include respond_large(){
                    grid-template-rows: 1fr;
                }
    
                span{
                    text-align: right;
                    grid-area: 1 / 1 / 2 / 2;
                }
    
                i{
                    text-align: left;
                    padding-left: 5px;
                    grid-area: 1 / 2 / 2 / 3;
                }
    
                time{
                    display: none;
                    grid-area: 2 / 1 / 3 / 3;
    
                    @include respond_large(){
                        display: block;
                    }
                }
            }
        }
    
        .user_btns{
            display: contents;
            
            .user_mobile{
                display: block;
                place-self: center;
    
                @include respond_large(){
                    display: none;
                }
            }
    
            .user_desktop{
                display: none;
    
                @include respond_large(){
                    display: block;
                    place-self: center;
                }
            }
        }
    }
}
    

.navigation_index{
    display: none;

    @include respond_large(){
        display: block;
        font-weight: bold;
        place-content: center;
        justify-content: center;

        ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;
            place-content: center;

            margin: 0;
            padding: 0;
            overflow: hidden;

            li {
                display: inline-block;

                a {
                    display: block;
                    color: black;
                    text-align: center;
                    padding: 16px;
                    text-decoration: none;

                    @include link-hover();
                }
            }
        }

    }
}


.venus_logo{
    align-self: center;
    justify-self: center;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.icon{
    place-self: center;

    font-size: 16px;
    width: 16px;
    height: 16px;
}

.venus_button{
    color: white;
    background-color: $primary;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 0.5em 1em;
    border: none;

    &:hover{
        background-color: $icon-hover-color;
        color: white;
    }

    &:visited{
        background-color: $primary;
        color: white;
    }

    &:hover:visited{
        background-color: $icon-hover-color;
        color: white;
    }
}

#venus_button_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
    place-items: center;
    
    a#subscribe_button.venus_button{
        border-radius: 0.25em;
        background-color: $primary;
        padding: 1em 1em;
        place-self: stretch;
        text-decoration: none;
        color: #ffffff;

        &:hover{
            background-color: $icon-hover-color;
            text-decoration: underline;
        }
    }
}

#icon_buttons{
    display: grid;
    grid-template-columns: 7fr 1fr 1fr;
    justify-content:end;
    
    i{
        display: flex; 
        align-content: center;
        align-items: center;
        justify-content: center;
        font-size: 1.25em;
        border-radius: 50%;
        height: 2em;
        width: 2em;
        color: #ffffff;
        background-color: $primary;
    }

    i:hover{
        background-color: $icon-hover-color;
        color: #ffffff;
    }
}

.no_border_top{
    border-top: none !important;
}

.article-1{
    display: grid;
    height: 100px;
    padding: 1em 0em;
    grid-template-rows: 25px 1fr;
    grid-template-columns: 1fr 3fr;
    grid-auto-flow: column;
    
    .img_preview{
        grid-area: 1 / 1 / 3 / 2;
        background-size: cover;
        background-position: center;
        max-width: 350px;
        max-height: 250px;
        width: 150px;
        height: 100px;

        img{
            width: 100%;
            height: 100%;
        }
    }

    @include subscriber-badge(){
        grid-area: 1 / 2 / 2 / 3;
    }

    .title{
        @include title(1.1em){
            justify-self: left;
            grid-area: 1 / 2 / 3 / 3;
        };
    }

    .subscriber_only_badge+.title{
        grid-area: 2 / 2 / 3 / 3;
    }

}

.headline{
    display: grid;

    grid-template-rows: 25px 1fr;
    border-bottom: $border-color solid 1px;
    padding: 0.5em 0em;
    
    @include subscriber-badge(){
        grid-area: 1 / 1 / 2 / 2;
    }

    .title{
        @include title(15px){
            justify-self: left;
            grid-area: 1 / 1 / 3 / 2;
        };
    }

    .subscriber_only_badge+.title{
        justify-self: left;
        grid-area: 2 / 1 / 3 / 2;
    }

    time{
        font-size: 0.8em;
        font-weight: normal;
        color: grey;
        justify-self: right;
        padding-right: 0.5em;
    }
}

#cookies{
    height: 32px;
    width:47px;
    position: fixed;
    right: 0;
    top: 70%;
    padding: 0.25em;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
    border-left: black solid 2px;
    background-color: $bg-color;
    background-blend-mode: normal;
    
    i{
        font-size: xx-large;
    }
}

.venus_content{
    position: relative;
    top: 64px;
    padding: 0 0.5em;
    max-width: 80em;
    margin: 0 auto;
    margin-bottom: 100px;

    @include respond_large(){
        top: 192px;
        margin-bottom: 200px;
    }

    .venus_trending{
        display: none;

        @include respond_large(){
            display: grid;
            font-size: 14px;
            grid-template-columns: 1fr 9fr;
            grid-template-rows: 35px;
            place-content: center;
            justify-content: center;
            line-height: 35px;

            span{
                padding-left: 0.5em;
                font-weight: bold;
                color: $primary;
            }

            ul{
                list-style-type: none;
                display: flex;
                flex-direction: row;
                place-content: center;

                margin: 0;
                padding: 0;
                overflow: hidden;
    
                li {
                    display: inline-block;
                    padding-right: 1.5625em;
    
                    a {
                        display: block;
                        color: $not-relevant;
                        text-align: center;
                        text-decoration: none;
    
                        @include link-hover();
                    }
                }
            }
        }
    }

    .breaking_news{
        background-color: #ffc518;
        display: grid;
        padding: 0.25em;
        grid-template-columns: auto 28px;
        grid-template-rows: auto;
        grid-template-areas: 
            "header cross"
            "news cross"
        ;

        h1{
            grid-area: header;
            font-size: 1em;
        }

        a{
            grid-area: news;
            font-size: 0.8em;
            color: black;
            text-decoration: none;

            &:hover{
                color: black;
                text-decoration: underline;
            }

            &:hover:visited{
                color: black;
                text-decoration: underline;
            }
            
        }

        i{
            grid-area: cross;
            place-self: center center;

        }
    }

    .main_article{
        display: grid;
        padding-top: 1em;
        color: #38322a;
        grid-template-areas: 
            "title"
            "img"
            "text"
            "related"
        ;

        .title{
            @include title(1.5em);
        }

        img{
            grid-area: img;
            width: 100%;
            height: 300px;
        }

        .description{
            grid-area: text;
            font-size: 1em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            text-align: center;
        }

        .related_section{
            grid-area: related;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 1em;
            padding: 0.5em 0em;
            border-bottom: $border-color solid 0.5px;

            &::before {
                content: attr(title);
                
                display: block;
                color: $section-title;
                font-weight: 600;
                font-size: small;
                padding: 4px;
                text-align: left;
                border-bottom: $border-color solid 1px;
            }

            .related_article{
                display: list-item;
                padding: 0.5em;
                list-style-position: inside;
                list-style: none;

                &::before{
                    content: '•';
                    position: absolute;

                    display: block;
                    text-align: center;
                    place-self: center;
                    margin: 0em;
                    padding: 2px;
                    width: 1em;
                    height: 1em;
                    line-height: 1em;
                    color: black;
                    font-weight: bold;
                }
                
                div{
                    display: block;
                    padding-left: 1.5em;

                    a{
                        color: black;
                        text-decoration: none;
                        font-weight: bold;
                        text-align: left;
                        font-size: 12.5px;

                        @include link-hover();
                    }
    
                    time{
                        text-align: right;
                        color: $section-title;
                        font-weight: normal;
                        font-size: 11.5px;
                    }
                }
            }
        }
    }

    .relevant_preview{
        list-style: none;

        li{
            border-bottom: $border-color solid 0.5px;
        }
    }

    .venus_latest{
        padding-top: 1.5em;
        list-style: none;

        &::before {
            content: attr(title);
            
            display: block;
            color: $section-title;
            font-weight: 200;
            font-size: large;
            padding: 4px;
            text-align: left;
            border-bottom: $primary-darker solid 2px;
        }
    }

    .social-1{
        margin-top: 1em;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 100%;

        background-color: $cute-bg;
        padding: 16px;
        border-radius: 4px;
        place-items: center;

        p{
            padding: 0.5em;
            font-size: 1em;
            color: black;
            font-weight: bold;
            justify-self: center;
        }
    }

    .social-2{
        margin-top: 3px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 100%;

        background-color: $cute-bg;
        padding: 16px;
        border-radius: 4px;
        place-items: center;
        place-content: center;

        p{
            padding: 0.5em;
            font-size: 1em;
            color: black;
            font-weight: bold;
            justify-self: center;
        }

        #icon_buttons{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-gap: 0.5em;
            justify-content: center;
            align-items: center;
        }

    }

    .venus_popular{
        margin-top: 1em;
        list-style-position: outside;
        list-style-type: none;
        
        .headline{
            display: block;
            border: none;
            padding-left: 2em;
            position:relative;
        }

        li:before {
            content: counter(list-item);
            position: absolute;
            
            display:block; 
            text-align: center;
            place-self: center;
            margin-top: 0.5em;
            padding: 2px;
            width: 1.25em;
            height: 1.25em;
            line-height: 1.25em;
            border-radius: 50%;
            color: white;
            font-weight: bold;
            background-color: $primary;
        }
        
        &::before {
            content: attr(title);
            
            display: block;
            color: $primary-darker;
            font-weight: 200;
            font-size: large;
            padding: 4px;
            text-align: left;
            border-bottom: $primary-darker solid 2px;
        }
    }

    .venus_thematic{
        display: grid;
        
        grid-template-areas: 
            "theme"
            "relevant"
            "more"
        ;

        &::before{
            content: attr(title);
            
            grid-area: theme;
            display: block;
            color: $primary-darker;
            font-weight: 200;
            font-size: large;
            padding: 4px;
            text-align: left;
            border-bottom: $primary-darker solid 2px;
        }

        article{
            grid-area: relevant;
            display: grid;
            
            grid-template-areas: 
                "img"
                "title"
                "content"
            ;

            img{
                grid-area: img;
                margin: 0.5em 0em;
                height: 100%;
                width: 100%;
            }

            h4{
               @include title(1.1em){
                    justify-self: left;
                    padding: 1em 0em 0em 0em;
               };
            }

            p{
                grid-area: content;
                color: $section-title;
                font-weight: normal;
                font-size: 0.9em;
                padding: 0.5em 0;
                text-align: left;
            }

        }

        ul{
            grid-area: more;
            list-style: none;

            .headline{
                border-top: $border-color solid 1px;
                border-bottom: none;
            }
        }
    }
}

footer {
    padding: 1em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) inset;
    background: #f5f5f5;
    text-align: center;
    
    ul.site_sections{
        width: 100%;
        display: grid;
        grid-template-rows: repeat(7, 0.75fr);
        list-style: none;
        grid-gap: 1em;
        padding: 0;

        li{
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: black;
            font-weight: bold;
            border-top: black solid 2px;
            padding: 0.5em;

            a{
                color: black;
                text-decoration: none;
                justify-self: left;
                align-self: center;

                &:link {
                    color: black;
                    text-decoration: none;
                }
                  
                &:visited {
                    color: black;
                    text-decoration: none;
                }
                  
                &:hover {
                    color: black;
                    background-color: transparent;
                    text-decoration: underline;
                }
                  
                &:active {
                    color: black;
                    background-color: transparent;
                    text-decoration: underline;
                }
            }

            i{
                justify-self: right;
                align-self: center;
            }
        }
    }

    ul.venus_legal{
        width: 100%;
        display: grid;
        grid-template-rows: repeat(8, 28px);
        list-style: none;
        grid-gap: 1em;
        padding: 0;
        border-top: #d3d3d3 solid 1px;

        li{
            display: grid;
            grid-template-columns: 1fr;
            color: #5d5b5a;
            padding: 0.5em;

            a{
                color: #5d5b5a;
                text-decoration: none;
                justify-self: left;
                align-self: center;

                &:link { 
                    text-decoration: none;
                }
                  
                &:visited {
                    text-decoration: none;
                }
                  
                &:hover {
                    background-color: transparent;
                }
                  
                &:active {
                    background-color: transparent;
                }
            }

            p{
                justify-self: center;
                align-self: center;
                font-weight: bold;
            }
        }
    }
}